################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

[#]*#
*~
.#*
*.suo
*.user
.vs
*.pyc
emprun.lnk
empsave.dat
packages
Sudoku.zip
**/bin
**/obj
**/Debug
**/Release
/XmlTest
/ConsoleApp1
/IconConvert
/IconConvert2
/Identiry
/SendJson
/ZmlTest
/CpuAnalyzer
/SqlPerformanceTests
/SocketTest
/Scrabble
/SalesForce
/SendMail
/RdpPlugin/RdpServerPlugin
/RazorTest
/PrecompiledWeb/WebPageMovies
/pdfprinter
/oauth
/NuGetStuff
/NewFeatures
/MstscAx
/MongoDriver
/MiscWpf
/MergeAccessToConnect
/MegaConnectAdmin
/LeakMonTest
/KeyEvents
/kerbcxx
/Jiggle
/JavaDll
/HyperV
/HtmlParser
/GifView
/Etw
/EnableFileTransfer
/DotNetDependencies
/CursorTest
/csharptest
/credman
/CreateSS
/Sudoku.old
/WebPagesMovies
/WCF/GettingStarted
/VersionTest
/Utils
/UsefulStuff
/UriTest
/Unshield
/TestErrors
/WpfExamples
/WpfCursor/WpfApp1
/WinTest
/WingtipToys2
/WingtipToys
/WebSite2
/WebProxy
/xamtest
/wpfcore
/**/node_modules

.venv/